[push]
	default = simple

[core]
	quotepath = false

[pull]
	rebase = false

[credential "https://github.com"]
	helper = 
	helper = !/home/ubuntu/bin/nix/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/home/ubuntu/bin/nix/gh auth git-credential

[user]
	email = iam@defn.sh
	name = Amanibhavam

[url "git@github.com:"]
    insteadOf = https://github.com/
