#ManagedBy: cue

metadata:
  name: webhook
  namespace: knative-serving
spec:
  template:
    metadata:
      annotations:
        traffic.kuma.io/exclude-inbound-ports: "8443"
kind: Deployment
apiVersion: apps/v1
